// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables


//FONTS & Tipography
$font-family: 'Roboto Condensed', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;


//GRID
$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

// colors
$black: #333447;
$dark-grey: #5a5a5a;
$grey: #909090;
$light-grey: #dedede;

$light-blue: #6EB6D6;