// - - - - - - - - - - - - - - - - - - -
// - - utilities
// global extends, mixins, functions, and utility classes

// - - - - - - - - - - - - - - - - - - -
// - - extends

// - - - - - - - - - - - - - - - - - - -
// - - mixins

// - - - - - - - - - - - - - - - - - - -
// - - functions

// - - - - - - - - - - - - - - - - - - -
// - - utilities

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

// - - - - - - - - - - - - - - - - - - -
// - - Fixed positions
.fixed-bottom {
	position: fixed !important;
	bottom: 0;
	left: 0;
}

.fixed-top {
	position: fixed !important;
	top: 0;
	left: 0;
}