// - - - - - - - - - - - - - - - - - - -
// - - library variable overrides
// variable overrides for 3rd party libraries

//Mobile
nav {
	height: 60px;
	background: #fff;
	border-top: 1px solid #dedede;
	z-index: 10;
}